<!--
/**
 * @file
 * Шаблон компонента Вывода "причины"
 *
 * Доступные переменные:
 * - cause: (Cause)  - Модель причины.
 *   Используются её следующие:
 *   - id:      (number) - Идентификатор причины.
 *   - title:   (string) - Заголовок причины.
 *   - content: (string) - Описание причины.
 *   - descendants: (Effect[]) - Следствия потомки.
 *  В каждой модели используется:
 *      - id:    (int)    - уникальный идентификатор следствия
 *      - title: (stirng) - Заголовок Следствия
 *
    - ancestors: (Effect[]) - Следствия предки.
 *  В каждой модели используется:
 *      - id:    (int)    - уникальный идентификатор следствия
 *      - title: (stirng) - Заголовок Следствия
 *
 *  - capabilities: (Capability[]) - список доступных возможностей
 * @see cause.service.ts
 */
-->
<div class="ui text container" *ngIf="cause">
    <div class="ui secondary menu" *ngIf="hasCapability('update')">
        <div class="ui right floated item icon button"
             *ngIf="hasCapability('update')"
             (click)="editCause = !editCause">
            <i class="large edit icon"></i>
        </div>
    </div>

    <h1 *ngIf="editCause == false" class="ui header center aligned">
        <div class="content">
            {{ cause.title }}
        </div>
    </h1>
    <div class="ui attached" *ngIf="editCause == false">
        <p>{{ cause.content }}</p>
    </div>

    <div class="ui form container" *ngIf="hasCapability('update') && editCause == true">
        <div class="field">
            <label>
                <input [(ngModel)]="cause.title" type="text"
                       (focusout)="save(); editCause = false">
            </label>
        </div>
        <div class="field">
            <label>
                <textarea [(ngModel)]="cause.content"
                          (focusout)="save(); editCause = false"></textarea>
            </label>
        </div>
    </div>

    <!--<button (click)="goBack()">Back</button>-->

    <div class="ui equal width padded grid">
    <div class="row">
            <nav *ngIf="cause.descendants?.length > 0" class="ui column link list">
                <h2>Descedants Effects</h2>
                <ul>
                    <li class="item" *ngFor="let effect of cause.descendants">
                        <a [routerLink]="['/effect', effect.id]">{{ effect.title }}</a>
                    </li>
                </ul>
            </nav>
            <nav *ngIf="cause.ancestors?.length > 0" class="ui column link list">
                <h2>Ancestors Effects</h2>
                <ul>
                    <li class="item" *ngFor="let effect of cause.ancestors">
                        <a [routerLink]="['/effect', effect.id]">{{ effect.title }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
