<!--
/**
 * @file
 * Шаблон компонента Вывода "причины"
 *
 * Доступные переменные:
 * - user: (Cause)  - Модель причины.
 *   Используются её следующие:
 *   - id:      (number) - Идентификатор причины.
 *   - title:   (string) - Заголовок причины.
 *   - content: (string) - Описание причины.
 *   - descendants: (Effect[]) - Следствия потомки.
 *  В каждой модели используется:
 *      - id:    (int)    - уникальный идентификатор следствия
 *      - title: (stirng) - Заголовок Следствия
 *
    - ancestors: (Effect[]) - Следствия предки.
 *  В каждой модели используется:
 *      - id:    (int)    - уникальный идентификатор следствия
 *      - title: (stirng) - Заголовок Следствия
 *
 *  - capabilities: (Capability[]) - список доступных возможностей
 * @see user.service.ts
 */
-->
<div class="ui text container">
    <div class="ui form container">
        <div class="field">
            <label>
                <input [(ngModel)]="user.email" type="text" placeholder="Email">
            </label>
        </div>
        <div class="field">
            <label>
                <input [(ngModel)]="user.password" type="text" placeholder="Password">
            </label>
        </div>
        <div class="ui button" (click)=signup() tabindex="0">Signup</div>
    </div>
</div>
