<!--
/**
 * @file
 * Шаблон компонента Вывода "cледствия"
 *
 * Доступные переменные:
 * - effect: (Effect)  - Модель cледствия.
 *   Используются её следующие:
 *   - id:      (number) - Идентификатор cледствия.
 *   - title:   (string) - Заголовок cледствия.
 *   - content: (string) - Описание cледствия.
 *
 * - effects:    (Effect[]) - Масив Доступных cледствий.
 *   В каждой cледствие используются следующие поля:
 *   - id:      (number) - Идентификатор cледствия.
 *   - title:   (string) - Заголовок cледствия.
 *
 * @see effect.service.ts
 */
-->
<div class="ui text container" *ngIf="effect">
    <div class="ui secondary menu" *ngIf="hasCapability('update')">
        <div class="ui right floated item icon button"
             *ngIf="hasCapability('update')"
             (click)="editEffect = !editEffect">
            <i class="large edit icon"></i>
        </div>
    </div>

    <h1 *ngIf="editEffect == false" class="ui header center aligned">
        <div class="content">
            {{effect.title}}
        </div>
    </h1>

    <div class="ui attached" *ngIf="editEffect == false">
        <p>{{ effect.content }}</p>
    </div>

    <div class="ui form container" *ngIf="hasCapability('update') && editEffect == true">
        <div class="field">
            <label>
                <input [(ngModel)]="effect.title" type="text"
                       (focusout)="save(); editEffect = false">
            </label>
        </div>
        <div class="field">
            <label>
                <textarea [(ngModel)]="effect.content"
                          (focusout)="save(); editEffect = false"></textarea>
            </label>
        </div>
    </div>

    <!--<button (click)="goBack()">Back</button>-->
    <div class="ui equal width padded grid">
        <div class="row">
            <nav *ngIf="effect.descendants?.length > 0" class="ui column link list">
                <h2>Descedants Causes</h2>
                <ul>
                    <li class="item" *ngFor="let cause of effect.descendants">
                        <a [routerLink]="['/cause', cause.id]">{{ cause.title }}</a>
                    </li>
                </ul>
            </nav>
            <nav *ngIf="effect.ancestors?.length > 0" class="ui column link list">
                <h2>Ancestors Causes</h2>
                <ul>
                    <li class="item" *ngFor="let cause of effect.ancestors">
                        <a [routerLink]="['/cause', cause.id]">{{ cause.title }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
