{% extends 'body.twig' %}
{% block body %}
    <div class="page-body">
        <h2 class="page-title">
            {{ title|default("Статья №"~id) }}
        </h2>
        <h4 class="page-content">
            {{ content|default("noContent") }}
        </h4>
    </div>
{% endblock %}
