<div *ngIf="user">
    <div>
       Hello! You visit page of user with email {{ user.email }}.
    </div>
    <div *ngIf="user.causes && user.causes[0]">
    <div>
        This User created next causes
    </div>
        <div *ngFor="let cause of user.causes">
            <a [routerLink]="['/cause', cause.id]">{{ cause.title }}</a>
        </div>
    </div>
</div>
