<!--
/**
 * @file
 * Шаблон компонента регистрации пользователя
 *
 * Доступные переменные:
 * - user: (Cause)  - Модель причины.
 *   Используются её следующие:
 *   - email:    (string) - электронная почта пользователя.
 *   - password: (string) - пароль пользователя.
 * @see sigin.service.ts
 */
-->
<div class="ui text container">
    <div class="ui form container">
        <div class="field">
            <label>
                <input [(ngModel)]="user.email" type="text" placeholder="Email">
            </label>
        </div>
        <div class="field">
            <label>
                <input [(ngModel)]="user.password" type="text" placeholder="Password">
            </label>
        </div>
        <div class="ui button" (click)=signin() tabindex="0">Signin</div>
    </div>
</div>
