{% spaceless %}
    <!doctype html>
        <html lang="en">

            <head>
                {% block head %}
                    <meta charset="UTF-8">
                    <title>Document</title>
                {% endblock %}
            </head>
            <body>
            {% block body %}
            {% endblock %}
            </body>
            <footer>
            {% block footer %}
            {% endblock %}
            </footer>

    </html>
{% endspaceless %}