<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../../staticSources/js/angular/block.js"></script>
</head>
<body>
<div ng-controller = "TodoListController as todoList">
    <h1>Hello, {{ name|default('baklanko') }}!!!
        <div>
            <input type="text"
                   ng-model="todoList.youName( '{{ name|default('baklanko') }}')"
                   placeholder="Введите свое имя">

            <div class="hello">Hello from Angular {{'{{ '}}todoList.youName('{{ name }}'){{' }}'}}</div>
        </div>
    </h1>
</div>
</body>
</html>
